<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>萌晨1.jpg</string>
		<key>lrc</key>
		<string>一剪梅.lrc</string>
		<key>mp3</key>
		<string>一剪梅.mp3</string>
		<key>name</key>
		<string>一剪梅</string>
		<key>singer</key>
		<string>黄渤</string>
		<key>zhuanji</key>
		<string>《夏洛特烦恼》</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>mp3</key>
		<string>千古.mp3</string>
		<key>lrc</key>
		<string>千古.lrc</string>
		<key>name</key>
		<string>千古</string>
		<key>singer</key>
		<string>阿兰</string>
		<key>zhuanji</key>
		<string>电视剧《花千骨》主题曲</string>
		<key>image</key>
		<string>萌晨2.jpg</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>萌晨3.jpg</string>
		<key>lrc</key>
		<string>大王叫我来巡山.lrc</string>
		<key>mp3</key>
		<string>大王叫我来巡山.mp3</string>
		<key>name</key>
		<string>大王叫我来巡山</string>
		<key>singer</key>
		<string>贾乃亮</string>
		<key>zhuanji</key>
		<string>《大话西游》片尾曲</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>image</key>
		<string>jason.jpg</string>
		<key>lrc</key>
		<string>默.lrc</string>
		<key>mp3</key>
		<string>默.mp3</string>
		<key>name</key>
		<string>默</string>
		<key>singer</key>
		<string>那英</string>
		<key>zhuanji</key>
		<string>《何以笙箫默》主题曲</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
